<div class="container mx-auto">
    <div>
        <h1 class="text-lg font-bold"><span appHighlight>About</span> </h1>
        <p class="text-xs"><span appHighlight>AMARILLO</span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia rem facere culpa! Fuga dolorem eaque cum expedita, rem laudantium amet! Doloremque nemo magnam dolores culpa mollitia officiis blanditiis repellat ex!</p>
        <p class="text-xs">Número de clientes <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() >0"></app-counter></p>
        <div>
            <app-wave-audio
            audioUrl="assets/audio.mp3"
            ></app-wave-audio>
        </div>
    </div>
</div>
