<div class="px-10">
    <h1 class="text-lg font-bold">About</h1>
    <p class="text-xs">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia rem facere culpa! Fuga dolorem eaque cum expedita, rem laudantium amet! Doloremque nemo magnam dolores culpa mollitia officiis blanditiis repellat ex!</p>
    <p class="text-xs">Número de clientes <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() >0"></app-counter></p>
    <div>
        <app-wave-audio
        audioUrl="assets/audio.mp3"
        ></app-wave-audio>
    </div>
</div>

